#loadingModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);;
    /* display: none; */
}

.modal-content {
    background-color: transparent;
    box-shadow: none;
    border: none;
}