.row {
    margin: 0 !important;
}

#banner {
    width: 100%;
    min-height: 250px; /* Adjust the height of the banner */
    /* background: url('banner-image.jpg') center/cover; */
    /* background: url("{{ asset('img/banner-default.jpg') }}") center/cover; */
    border-radius: 10px;
    /* text-align: center; */
    /* display: flex; */
    /* flex-direction: column; */
    align-items: center;
    /* justify-content: center; */
    /* position: relative; */
}

form label{
    margin: 0;
    padding-left: 5px;
}

form .row {
    padding-bottom: 20px;
}


#banner .dropify-wrapper .dropify-message {
    top: 23%;
}

#banner .dropify-wrapper .dropify-message .file-icon p{
    font-size: 16px;
}

#banner .dropify-wrapper .dropify-message .file-icon::before {
    /* CLOUD ICON */
    content: '';
}

#banner .dropify-wrapper .dropify-preview .dropify-render img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}