.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #0d6efd;
}

/* Banner */
    /* #image-preview {
        width: 100%;
        height: 100%;
        object-fit: cover;
    } */

    #banner-image {
        display: none;
    }
    
    #edit-icon {
        position: absolute;
        top: 50px;
        right: 25px;
        padding: 2px 5px;
        border-radius: 5px;
        /* box-shadow: rgba(0, 0, 0, 1.0) 0px 2px 8px; */
        box-shadow: 2px 2px 4px 4px rgba(0,0,0,0.3);
        font-size: 30px;
        color: #888888;
        /* font-weight: bold; */
        background-color: #F5F5F5;
        cursor: pointer;
    }

    #edit-icon:hover {
        background-color: #4B7BC9;
        color: #FFFFFF;

    }

    #image-container {
        border-radius: 10px;
        border: 1px solid #999999;
        /* box-shadow: 2px 2px 4px 4px rgba(0,0,0,0.2); */
        height: 35vw;
        overflow: hidden;
        background-color: #EEEEEE;
    }

    #image-container img {
        /* border-radius: 10px; */
        width: 100%;
        
    }

/* END Banner */