#loadingModal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

#loadingModal .modal-content {
    background-color: transparent !important;
    box-shadow: none;
    border: none;
}
